.navbar{
   height: 3rem;
   width: 100%;
   /* background-color: rgb(212, 33, 182); */
   position: absolute;
   /* top: 5rem; */
   display: flex;
   align-items: center;
}
.logo{
   margin-left: 2rem;
   z-index: 1;
}