.searchBar {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ccc; */
  border-radius: 2rem;
  padding: 5px;
  z-index: 1;
  width: 100%;
}


.input {
  /* flex: 1; */
  font-size: 1.2rem;
  padding: 6px 20px;
  border: none;
  outline: none;
  border-radius: 1.4rem 0 0 1.4rem;
  width: 30rem;
}

.button {
  background: #007bff;
  border: none;
  border-radius: 0 1.4rem 1.4rem 0;
  padding: 12px 20px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;

  width: 40rem;
} */
