.imageGrid {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
}


.imageItem img {
   display: block;
   width: 100%;
   height: auto;
   position: relative;
}
.download{
bottom: 1rem;
right: 1rem;
}